/* footer is our element selector */
footer {
  background-color: #1F2130;
  color: white;
}

body {
  margin: 0px;
}

/* NOTE the '.' denotes that this is a class. You can name your class whatever you want, but name it something that makes sense */
.display-flex {
  display: flex;
}